{% extends "base.html" %}

{% block content %}

{% for player in object_list %}
<div class="card" style="width: 18rem;">
  <img style="width:100px; height:100px" class="card-img-top-center" src={{ player.avatar.url }} alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{player.name}}</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="{% url "viewer:delete_player" player.id %}" class="btn btn-primary">Delete</a>
  </div>
</div>
{% endfor %}
{% endblock %}