{% extends "base.html" %}

{% block content %}
<a href="{% url 'viewer:create_player' %}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">+</a>
{% for player in object_list %}
<div class="card" style="width: 18rem;">
  <img style="width:150px; height:150px" class="card-img-top-center" src={{ player.avatar.url }} alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{player.name}}</h5>
    <h5 class="card-title">{{player.team}}</h5>
    <img style="width:5rem; height:5rem" class="card-img-top-center" src={{ player.team.image.url }} alt="Card image cap">

    <a href="{% url "viewer:delete_player" player.id %}" class="btn btn-primary">Delete</a>
  </div>
</div>
{% endfor %}
{% endblock %}